html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.header{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}
.header-1{
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: #393b3c;
  flex-wrap: wrap; 
  flex:1
}
.links{
  margin-right: 30px;
  color: floralwhite;
}
.header-2{
  display: flex;
  position: relative; 
  flex-direction: column;
  height: 25%;
  width: 100%;
  flex:2;
}
.content{
  display: flex;
  flex-direction: column;
  padding-top: 20vh;
  justify-content: center;
  height:25%;
  position: absolute;
  z-index: 100;
}
.headline{
  display: flex;
  justify-content: center;
  color:floralwhite;
  font-weight: bold;
  font-size: 6vw;
}
.body{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.body-1{
  width: 100%;
}
.body-2{
  color:black
}
.body-3{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}
.checked {
  color: orange;
}
.row{
  display: flex;
  flex:wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
*{
  font-family: Arial;
}
.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color:floralwhite;
  background-color: #393b3c;
}
.footer-1{
  flex:1;
  padding-left: 10px;
  flex-wrap: wrap;
}
.footer-2{
  flex:2;
  align-items: center;
}
.footer-3{
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  justify-content: center;
  flex:1;
  align-items: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Style the counter cards */
.card {
  display:flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 5vh;
  height: 25vh;
  width: 40vw;
  font-weight: bolder;
  text-align: center;
  background-color: #f1f1f1;
  align-self: center;
  
}
.rating{
  display: flex;
  height: 10vh;
  flex-direction: row;
  justify-content: center;
}
.card:hover{
  border: 1px solid black;
  background-color: green;
  color: floralwhite;
  opacity: 100%;
}
ul{
  list-style: none;
}
.card-2{
  position: absolute;
  left:0vw;
  height:25vh;
  top:0vh;
  width:3vw;
  border: black;
  z-index:100;
  border-width: thick;
  background-color: chartreuse;
}
.card-3{
  position: absolute;
  right:0vw;
  height:25vh;
  top:0vh;
  width:3vw;
  border: black;
  z-index:100;
  border-width: thick;
  background-color: chartreuse;
}
.card:hover{
  background-color: red;
}
